# Viewing the data : 
One of the most used method for a quick overview of tha dataFrame is the head() method.
this method returns the headers and a specified number of rows.

Here we will print the 1st 10 rows in the dataframe.

In [7]:
import pandas as pd
ak= pd.read_csv("C:\\Users\\Akash katiyar\\Desktop\\pandas.ak\\data.csv")
print(ak.head(10))

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105
5          VW         Up!    1000     929  105
6       Skoda       Fabia    1400    1109   90
7    Mercedes     A-Class    1500    1365   92
8        Ford      Fiesta    1500    1112   98
9        Audi          A1    1600    1150   99

In [8]:
# last 10 rows prints in dataframe
import pandas as pd
ak= pd.read_csv("C:\\Users\\Akash katiyar\\Desktop\\pandas.ak\\data.csv")
print(ak.tail(10))

         Car    Model  Volume  Weight  CO2
26      Audi       A4    2000    1490  104
27      Audi       A6    2000    1725  114
28     Volvo      V70    1600    1523  109
29       BMW        5    2000    1705  114
30  Mercedes  E-Class    2100    1605  115
31     Volvo     XC70    2000    1746  117
32      Ford    B-Max    1600    1235  104
33       BMW      216    1600    1390  108
34      Opel   Zafira    1600    1405  109
35  Mercedes      SLK    2500    1395  120

In [11]:
# what if you want the information about tha data in the dataframe: via info()
import pandas as pd
ak = pd.read_csv('data.csv')
print(ak.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     36 non-null     object
 1   Model   36 non-null     object
 2   Volume  36 non-null     int64
 3   Weight  36 non-null     int64
 4   CO2     36 non-null     int64
dtypes: int64(3), object(2)
memory usage: 1.5+ KB
None